$colorbg: grey;
$colorp: blue;
$width: 300px;
body{
    background-color: $colorbg;
}
header{
    text-align: center;
}

.color-text{
    color: $colorp;
}
.contenido{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    
}